body {
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
}

a {
    color: rgb(255, 255, 255)
}

a:hover {
    color: azure
}

a:visited {
    color: antiquewhite;
}

#content {
    width: 60%;
    margin: auto;
    color: azure;
}

#banner {
    background-color: rgb(0, 0, 0);
    text-align: center;
    margin: 20px;
    color: azure;
}

#blogposts {
    margin: 10px;
    border: 1px solid rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.post {
    margin: 10px;
    padding: 10px;
    border: dashed rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    overflow: auto;
}

.imgLeft {
    float: left;
    margin-right: 10px;
}

.imgBlog {
    width: 200px;
}

.post img {
    width: 200px;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#education {
    padding: 10px;
    margin: 10px;
    border-style: dashed;

}

#mechanics {
    border-style:dashed;
    padding: 10px;
    margin: 10px;
}